.u-section-1 .u-sheet-1 {
  min-height: 68px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Aclonica;
  margin: 8px 306px 8px 329px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 229px;
    margin-right: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 119px;
    margin-right: 96px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 63px;
    margin-left: 29px;
    margin-right: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 429px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 16px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 410px;
  left: auto;
  right: 29px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 340px;
  margin-top: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 303px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 338px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 293px;
  }
}